
%p
  Brought to you by
  =link_to 'Wodfollow', 'http://www.wodfollow.com'
  and
  =link_to 'Bel Scoring', 'http://www.belscoring.com'
%p
  We are CrossFit athletes that love tech.  For questions/comments
  =link_to 'Email','mailto:chris@wodfollow.com'

%hr