
.navbar.navbar-default
  .container-fluid
    .navbar-header{style:'padding:5px;'}
      %a{href:'http://www.wodfollow.com'}
        %img{ :src => asset_path('wf.png'), :height => '40' }
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href:'/about'}
            About
        %li
          %a{href:'/leaderboard'}
            Leaderboard
